# Raspberry Pi 5 + Lattice LFE5U-45F via JTAG

# Use our RPi5 GPIO adapter
source [find interface/rpi5_ecp5_gpio.cfg]

reset_config none   ;# adjust if you add SRST/PROGRAMN later

# LFE5U-45F JTAG TAP
# IDCODE 0x41112043 (LFE5U_45F)
jtag newtap lfe5u45f tap \
    -irlen 8 \
    -irmask 0x83 \
    -ircapture 0x1 \
    -expected-id 0x41112043

init
scan_chain

