[Unit]
Description=Program FPGA image, load QuadRF drivers, and initialize radio front-end

[Service]
Type=oneshot
RemainAfterExit=yes

WorkingDirectory=/home/dietpi/fpga/

# 1. Program FPGA image
ExecStart=/usr/local/bin/openocd -f board/rpi5_lfe5u45f.cfg -c "svf -tap lfe5u45f.tap -quiet -progress quadrf.svf; exit"
ExecStart=/usr/bin/sleep 1

# 2. Load drivers
ExecStart=-/usr/sbin/insmod drivers/dsi/fpga-dsi.ko
ExecStart=-/usr/sbin/insmod drivers/csi/fpga-csi.ko

# 3. Initialize radio
ExecStart=/home/dietpi/fpga/jtag --init

[Install]
WantedBy=multi-user.target
