[Unit]
Description=QuadRF GUI Web Interface
# Ensure the FPGA and drivers are loaded first
Requires=load-quadrf.service
After=load-quadrf.service network.target

[Service]
Type=simple

# Run as the dietpi user for security (rather than root)
User=dietpi
Group=dietpi

WorkingDirectory=/home/dietpi/flask/

ExecStart=/home/dietpi/flask/sdr_env/bin/python3 app.py

Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
