[Unit]
Description=SoapySDR Server
Requires=load-quadrf.service
After=load-quadrf.service network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/SoapySDRServer --bind=0.0.0.0
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
